html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*палитра цветов*/
:root {
  --primary-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --primary-white: #ffffff;
  --footer-info-text: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --filter-background-color: #f5f4fa;
}
body {
  background-color: var(--primary-white);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navig-list,
.preference-list,
.services-list,
.team-list,
.client-list,
.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h2,
h3 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* стилизация для header и footer */
.site-navig .container,
.main-navig,
.main-navig-address {
  display: flex;
  align-items: center;
}

.main-navig .logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 85px;

  color: #000000;
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--accent-color);
}
.navig.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navig-list .current {
  color: var(--accent-color);
}

.main-navig-address .telephone,
.main-navig-address .mail {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-navig-address {
  margin-left: auto;
}

.navig-item:not(:last-child),
.main-navig-address .mail {
  margin-right: 50px;
}

.navig.link:hover,
.navig.link:focus,
address .telephone:hover,
address .mail:hover,
address .telephone:focus,
address .mail:focus {
  color: var(--accent-color);
}
footer {
  background-color: var(--footer-background-color);
  color: var(--primary-white);
}
footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-left {
  margin-right: 69px;
  min-width: 231px;
}
.footer-center {
  min-width: 206px;
}
footer .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white);
}
.contact-info {
  display: flex;
  flex-direction: column;

  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.contact-info .link {
  color: var(--footer-info-text);
}
.contact-info-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}
.call-to-action {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-center .social-list {
  justify-content: space-between;
}
.footer-center .social-list-item.link {
  display: block;
  color: var(--primary-white);
}
/* стилизация основной части index.html*/

/*секция - Герой*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;

  color: var(--primary-white);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  cursor: pointer;

  min-width: 200px;
  border-radius: 4px;
  border: none;
  text-align: center;
  color: var(--primary-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/*секция - Наши преимущества*/
.preference {
  padding-top: 94px;
  padding-bottom: 47px;
}
.preference-item {
  min-width: 270px;
}
.preference-item:not(:last-child),
.services-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}
.preference-item img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.preference-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.preference-description {
  margin: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* секция - Наши услуги, Наша команда, Постоянные клиенты*/
.services {
  padding-top: 47px;
  padding-bottom: 94px;
}
.services-title,
.team-title,
.client-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.services-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
  background-color: rgba(47, 48, 58, 0.8);
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-item {
  padding-bottom: 24px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-item > img {
  margin-bottom: 30px;
}
.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-position {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item .social-list {
  justify-content: space-around;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-list {
  justify-content: space-between;
}
.client-list-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

/* стилизация основной части portfolio.html*/
.works {
  border-top: 1px solid #ececec;
}
.works > .container {
  padding-top: 93px;
  padding-bottom: 94px;
}
.filter,
.works-examples {
  list-style: none;
  display: flex;
  margin-top: 0;
  padding: 0;
}
.filter {
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--filter-background-color);
  border: none;
  border-radius: 4px;
}
.filter-btn.active {
  color: var(--primary-white);
  background-color: var(--accent-color);
}
.works-examples {
  flex-wrap: wrap;
}
.works-examples-item {
  width: 370px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.works-examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.works-examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.works-examples-link {
  display: block;
}
.works-examples-item img {
  margin-bottom: 20px;
}
.works-examples-subtitle {
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.description-filter {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.works-examples-description {
  display: none;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white);
  background-color: rgba(33, 150, 243, 0.9);
}
